/* CSS declarations go here */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
}

.gheader div:nth-child(3) {
  padding-top: 1em;
}


.create {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 1px solid #06D85F;
  border-radius: 20px/50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  /*margin-top: 10%;*/
}
.create:hover {
  background: #06D85F;
}

h1, h2{
  font-family: Papyrus,fantasy
}
p, span {
  font-family: "Rockwell Extra Bold","Rockwell Bold",monospace;
  color: white;
}

.room {
  height: 6em;
  background-color: #48D1CC;
}
.gameLogo {
  height: 100%;
}
.room:hover {
  box-shadow:2px 2px 3px #d9edf7;
}
.roomType {
  margin-top: 0.5em;
  height: 5em;
/*  border: 1px solid #d9edf7;
  border-radius: 5px;
  text-align: center;*/
}
.roomStatus {
  padding-top: 0.5em;
}
.roomNameOne {
  font-size: 1.5em;
}
.roomLightGreen {
  width: 15px;
  height: 15px;
  border: 1px solid #00FF00;
  border-radius: 10px;
  background-color: #00FF00;
}
.roomLightRed {
  width: 15px;
  height: 15px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: red;
}

.gameContent > * {
  height: 30em;
}
.playerInfo {
  width: 100%;
  height: 5em;
}
.cells {
  height: 100%;
  border-right: 1px solid #DDD;
}
/*.cancelButton {
  position: fixed;
  bottom: 10px;
  width: 100%;
}*/